@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 45px;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  margin: 25px 0;
}

h2 {
  font-weight: 300;
  margin: 0 0 30px 0;
}

/* h1,
h2,
h4 {
  font-family: 'Raleway', sans-serif;
} */

h1 {
  color: hsl(0, 0%, 59%);
}

/* h2 {
  font-size: 1.8em;
  margin-top: 0;
} */

.container {
  padding: 30px;
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  color: hsl(209, 33%, 12%);
}

form {
  margin-bottom: 40px;
}

input {
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 50px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  flex: 0.7;
  padding: 20px 85px;
}

input::placeholder {
  color: hsl(223, 100%, 88%);
  text-align: left;
}

button {
  border: 1px solid hsl(223, 87%, 63%);
  background-color: hsl(223, 87%, 63%);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 16px;
  flex: 0.3;
  padding: 20px 40px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  border: 1px solid hsl(223, 32%, 69%);
  background-color: hsl(223, 32%, 69%);
}

footer {
  margin-top: 40px;
}
footer ul {
  list-style-type: none;
  display: flex;
}

footer a {
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 50%;
  color: hsl(223, 87%, 63%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

footer p {
  color: hsl(0, 0%, 59%);
  margin-top: 40px;
}
